# Import Libraries

In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
#importing original data
df = pd.read_csv(r"C:\Users\Stugots\Desktop\Bootcamp Stuff\Achievement 6 Solo Project\Data\Original Data\MTA_Subway_Trains_Delayed__Beginning_2020_20250424.csv" , index_col = False)

In [5]:
df.head()

,month,division,line,day_type,reporting_category,subcategory,delays
0,2024-12-01,A DIVISION,1,1,Crew Availability,Crew Availability,83
1,2024-12-01,A DIVISION,1,1,External Factors,External Debris on Roadbed,4
2,2024-12-01,A DIVISION,1,1,Infrastructure & Equipment,Braking,37
3,2024-12-01,A DIVISION,1,1,Infrastructure & Equipment,Door-Related,34
4,2024-12-01,A DIVISION,1,1,Infrastructure & Equipment,"Fire, Smoke, Debris",37

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40503 entries, 0 to 40502
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   month               40503 non-null  object
 1   division            40503 non-null  object
 2   line                40503 non-null  object
 3   day_type            40503 non-null  int64
 4   reporting_category  40503 non-null  object
 5   subcategory         38254 non-null  object
 6   delays              40503 non-null  int64
 7   datetime_month      40503 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 2.5+ MB

In [6]:
df.describe()

           day_type        delays
count  40503.000000  40503.000000
mean       1.405575     51.792682
std        0.491009     90.603904
min        1.000000      1.000000
25%        1.000000      5.000000
50%        1.000000     18.000000
75%        2.000000     55.000000
max        2.000000   1220.000000

# Checking For Missing Values

In [8]:
df.month.value_counts()

month
2022-01-01    743
2024-02-01    740
2022-10-01    739
2022-07-01    732
2024-12-01    731
2023-09-01    729
2022-12-01    729
2024-01-01    719
2022-09-01    718
2024-04-01    718
2023-12-01    716
2023-07-01    716
2024-11-01    715
2024-03-01    712
2022-11-01    712
2024-08-01    707
2023-01-01    700
2024-06-01    699
2024-07-01    699
2024-09-01    698
2024-10-01    695
2024-05-01    695
2022-02-01    695
2020-08-01    690
2022-03-01    688
2020-01-01    686
2023-03-01    686
2023-05-01    685
2023-02-01    684
2022-05-01    684
2022-08-01    683
2020-02-01    679
2023-06-01    677
2021-10-01    673
2023-10-01    672
2023-04-01    671
2021-07-01    671
2021-05-01    670
2021-02-01    668
2022-06-01    664
2020-07-01    664
2021-11-01    662
2020-11-01    659
2021-08-01    656
2021-09-01    654
2023-11-01    654
2020-09-01    652
2020-12-01    649
2023-08-01    649
2021-12-01    648
2021-06-01    648
2022-04-01    647
2021-01-01    643
2020-10-01    626
2020-06-01    619
2020-03-01    619
2021-03-01    599
2021-04-01    591
2020-05-01    580
2020-04-01    396
Name: count, dtype: int64

In [9]:
df.division.value_counts()

division
B DIVISION    26183
A DIVISION    14320
Name: count, dtype: int64

In [10]:
df.line.value_counts()

line
N         2294
A         2294
2         2237
D         2168
Q         2154
F         2154
R         2115
4         2089
6         2017
1         1997
E         1986
3         1963
C         1954
5         1921
JZ        1773
7         1772
G         1676
M         1601
L         1572
B         1121
S Rock     946
S Fkln     375
GS         324
Name: count, dtype: int64

In [11]:
df.day_type.value_counts()

day_type
1    24076
2    16427
Name: count, dtype: int64

In [12]:
df.reporting_category.value_counts()

reporting_category
Infrastructure & Equipment    19744
Police & Medical               6864
Planned ROW Work               6187
External Factors               2833
Crew Availability              2463
Operating Conditions           2412
Name: count, dtype: int64

In [13]:
df.subcategory.value_counts()

subcategory
Public Conduct, Crime, Police Response    2547
Crew Availability                         2463
Other - Sig                               2421
Subways Maintenance                       2416
Sick/Injured Customer                     2242
Service Delivery                          2239
Persons on Roadbed                        2075
Other - CE                                1981
Rail and Roadbed                          1976
Door-Related                              1862
Work Equipment                            1803
Braking                                   1687
Fire, Smoke, Debris                       1607
Other Infrastructure                      1570
Capital Work - Other Planned ROW          1523
Propulsion                                1455
Train Brake Activation - Cause Unknown    1326
External Debris on Roadbed                1239
Other Internal Disruptions                1216
Inclement Weather                          890
External Agency or Utility                 704
Signal Modernization Capital Project       404
Insufficient Supplement Schedule           346
Other Operating Environment                159
Other Planned ROW Work                      99
Service Management                           4
Name: count, dtype: int64

In [14]:
df.delays.value_counts()

delays
1      3018
2      2418
3      1801
4      1653
5      1401
       ...
511       1
601       1
508       1
427       1
853       1
Name: count, Length: 692, dtype: int64

In [15]:
df['delays'].isnull().any()

False

In [29]:
df['datetime_month'] = pd.to_datetime(
    df['month'])

In [31]:
df.head()

,month,division,line,day_type,reporting_category,subcategory,delays,datetime_month
0,2024-12-01,A DIVISION,1,1,Crew Availability,Crew Availability,83,2024-12-01
1,2024-12-01,A DIVISION,1,1,External Factors,External Debris on Roadbed,4,2024-12-01
2,2024-12-01,A DIVISION,1,1,Infrastructure & Equipment,Braking,37,2024-12-01
3,2024-12-01,A DIVISION,1,1,Infrastructure & Equipment,Door-Related,34,2024-12-01
4,2024-12-01,A DIVISION,1,1,Infrastructure & Equipment,"Fire, Smoke, Debris",37,2024-12-01

In [33]:
#exporting new dataset
df.to_pickle(r'C:\Users\Stugots\Desktop\Bootcamp Stuff\Achievement 6 Solo Project\Data\Prepared Data\trains delayed.pkl')