# Importing Libraries

In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
# importing original data set 
df = pd.read_csv (r'C:\Users\Stugots\Desktop\Bootcamp Stuff\Achievement 6 Solo Project\Data\Original Data\MTA_Subway_Major_Incidents.csv' , index_col = False)

In [5]:
df.head()

,month,division,line,day_type,category,count
0,12/1/2024,A DIVISION,1,1,Other,1
1,12/1/2024,A DIVISION,1,1,Persons on Trackbed/Police/Medical,1
2,12/1/2024,A DIVISION,1,1,Signals,2
3,12/1/2024,A DIVISION,2,1,Subway Car,1
4,12/1/2024,A DIVISION,2,1,Signals,3

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2018 entries, 0 to 2017
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   month           2018 non-null   object
 1   division        2016 non-null   object
 2   line            2016 non-null   object
 3   day_type        2018 non-null   int64
 4   category        2018 non-null   object
 5   count           2018 non-null   int64
 6   datetime_month  2018 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 110.5+ KB

In [7]:
df.describe()

          day_type        count
count  2018.000000  2018.000000
mean      1.134787     1.315659
std       0.341580     0.663491
min       1.000000     1.000000
25%       1.000000     1.000000
50%       1.000000     1.000000
75%       1.000000     1.000000
max       2.000000     7.000000

# Checking for missing values

In [9]:
df.month.value_counts()

month
9/1/2024     54
12/1/2024    52
1/1/2024     49
8/1/2024     48
3/1/2024     48
7/1/2024     46
3/1/2022     44
4/1/2024     44
11/1/2024    44
2/1/2024     43
6/1/2024     42
6/1/2021     41
5/1/2023     41
7/1/2023     40
10/1/2022    40
11/1/2022    40
12/1/2022    40
2/1/2021     40
3/1/2023     38
7/1/2021     38
12/1/2023    38
5/1/2024     38
5/1/2021     37
9/1/2022     37
2/1/2022     37
10/1/2024    37
5/1/2022     37
10/1/2023    36
7/1/2020     35
4/1/2022     34
12/1/2020    34
1/1/2022     34
6/1/2022     34
9/1/2023     34
6/1/2023     33
4/1/2023     32
12/1/2021    32
11/1/2021    32
1/1/2020     31
7/1/2022     30
1/1/2023     30
8/1/2023     29
2/1/2020     29
8/1/2022     28
9/1/2021     27
1/1/2021     26
11/1/2023    26
10/1/2021    25
3/1/2021     25
8/1/2020     24
8/1/2021     23
2/1/2023     23
4/1/2021     23
9/1/2020     21
11/1/2020    21
3/1/2020     19
10/1/2020    19
6/1/2020     17
4/1/2020     14
5/1/2020      5
Name: count, dtype: int64

In [10]:
df.division.value_counts()

division
B DIVISION    1132
A DIVISION     884
Name: count, dtype: int64

In [11]:
df.line.value_counts()

line
6         151
N         148
2         145
7         137
F         136
4         132
E         130
5         104
R         103
3         102
A         102
1         101
D          95
L          95
Q          75
B          67
C          65
M          58
JZ         33
G          19
S 42nd     12
S Fkln      4
S Rock      2
Name: count, dtype: int64

In [12]:
df.day_type.value_counts()

day_type
1    1746
2     272
Name: count, dtype: int64

In [13]:
df.category.value_counts()

category
Persons on Trackbed/Police/Medical    593
Signals                               534
Track                                 318
Subway Car                            213
Other                                 191
Stations and Structure                169
Name: count, dtype: int64

In [14]:
df['count'].value_counts()

count
1    1547
2     347
3      96
4      17
5       9
7       1
6       1
Name: count, dtype: int64

### Creating New Column with month as datetime

In [29]:
df['datetime_month'] = pd.to_datetime(
    df['month'])

In [31]:
df.head()

,month,division,line,day_type,category,count,datetime_month
0,12/1/2024,A DIVISION,1,1,Other,1,2024-12-01
1,12/1/2024,A DIVISION,1,1,Persons on Trackbed/Police/Medical,1,2024-12-01
2,12/1/2024,A DIVISION,1,1,Signals,2,2024-12-01
3,12/1/2024,A DIVISION,2,1,Subway Car,1,2024-12-01
4,12/1/2024,A DIVISION,2,1,Signals,3,2024-12-01

In [33]:
#exporting new dataset
df.to_pickle(r'C:\Users\Stugots\Desktop\Bootcamp Stuff\Achievement 6 Solo Project\Data\Prepared Data\major incidents.pkl')